<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>654038104845-eg04puc7cenk6t6tmbrkhunvmqsk92ba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.654038104845-eg04puc7cenk6t6tmbrkhunvmqsk92ba</string>
	<key>API_KEY</key>
	<string>AIzaSyDQyGO-p3-IHBRs4ApUEpshkEw7rpJorno</string>
	<key>GCM_SENDER_ID</key>
	<string>654038104845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>world.aiclub.aranet4nowUIKit</string>
	<key>PROJECT_ID</key>
	<string>co2sensora001</string>
	<key>STORAGE_BUCKET</key>
	<string>co2sensora001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:654038104845:ios:effaeb9307e93f1c38ce44</string>
	<key>DATABASE_URL</key>
	<string>https://co2sensora001.firebaseio.com</string>
</dict>
</plist>